@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    width: 100%;
  }
}
.win {
  background: url("http://qiniu.liyangme.top/wallpaper/wallhaven-d6mpll.png");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
